<<<<<<< HEAD
 	    body
            {
                margin: 20px;
                border-width: thin;
                border-style: ridge;
                padding: 10px;
                background-color: cadetblue;
            }
            .weather-container
            {
                height: 350px;
                margin: 10px;
                padding: 15px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                background-color: beige;
            }
            .weather-item
            {
                margin: 10px;
                padding 30px;
                flex-direction: column;
                line-height: 1.8;
            }
            #quote
            {
              text-emphasis-style: circle;
              font-style: oblique;
              font-weight: bold;
              font-size: 16px;
              font-family: Georgia, Serif;
              padding: 15px;
              background-color: beige;
              line-height: 1;
            }
            #wOutput
            {
                width: 200px;
            }
=======
body
{
	margin: 20px;
	border-width: thin;
	border-style: ridge;
	padding: 10px;
	background-color: cadetblue;
}
.weather-container
{
	height: 350px;
	margin: 10px;
	padding: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: beige;
}
.weather-item
{
	margin: 10px;
	padding 30px;
	flex-direction: column;
	line-height: 1.8;
}
#quote
{
	text-emphasis-style: circle;
	font-style: oblique;
	font-weight: bold;
	font-size: 16px;
	font-family: Georgia, Serif;
	padding: 15px;
	background-color: beige;
	line-height: 1;
}
#wOutput
{
	width: 200px;
}

>>>>>>> 84be0051ace2f122baaa42f2490f2dc1bd0cbcee
